version: '3.8'
services:
    php-apache-environment:
        container_name: php-apache
        build: './build/php'
        depends_on:
            - db
        volumes:
            - ./app:/var/www/html/
        ports:
            - 8000:80
    db:
        container_name: db
        image: mysql
        restart: always
        volumes:
            - ./app/test.sql:/docker-entrypoint-initdb.d/dump.sql
        environment:
            MYSQL_ROOT_PASSWORD: sam
            MYSQL_DATABASE: Denis
            MYSQL_USER: denis
            MYSQL_PASSWORD: samm
        ports:
            - "9906:3306"
        
    phpmyadmin:
      image: phpmyadmin/phpmyadmin
      ports:
          - '8080:80'
      restart: always
      environment:
          PMA_HOST: db
      depends_on:
          - db